/* Refinements for interactions */
.welcome-title .highlight-text {
    transition: transform 0.3s ease;
    cursor: default;
}

.welcome-title .highlight-text:hover {
    transform: rotate(0deg) scale(1.1);
}

.nav-links a {
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-brand);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}